namespace Backend.Services.Custom;

{{#simpleDoc}}/** Service {{interfaceName}}. */
{{/simpleDoc}}{{#descriptionDoc}}/**
 * Service {{interfaceName}}.
 * Datasource type: standard.
 * Target: Custom.
 * Fields: 0.
 */
{{/descriptionDoc}}public interface {{interfaceName}} { }

{{#simpleDoc}}/** Service {{className}}. */
{{/simpleDoc}}{{#descriptionDoc}}/**
 * Service {{className}}.
 * Datasource type: standard.
 * Target: Custom.
 * Fields: 0.
 */
{{/descriptionDoc}}public class {{className}} : {{interfaceName}} { }
