namespace Backend.Services.Views;

{{#simpleDoc}}/** Service {{className}}. */
{{/simpleDoc}}{{#descriptionDoc}}/**
 * Service {{className}}.
 * Datasource type: {{datasourceType}}.
 * Target: StandardCrud.
 * Fields: 0.
 */
{{/descriptionDoc}}public class {{className}} { }
