// schema-version: {{schemaVersion}}
using Xunit;
{{#needsList}}
using System.Collections.Generic;
{{/needsList}}
using Backend.Types.View;
using Backend.Types.Datasource;

namespace Backend.Tests.View;

public class {{testClassName}}
{
{{#isShaped}}
    private static {{className}} Sample() => new {{className}}
    {
{{#fields}}
        {{ident}} = {{&sampleExpr}},
{{/fields}}
    };

{{#fields}}
    [Fact]
    public void {{getsTest}}()
    {
        var initial = {{&sampleExpr}};
        var value = Sample();
        value.{{ident}} = initial;
        Assert.Equal(initial, value.{{ident}});
    }

    [Fact]
    public void {{setsTest}}()
    {
        var value = Sample();
        var next = {{&nextExpr}};
        value.{{ident}} = next;
        Assert.Equal(next, value.{{ident}});
    }
{{#nullable}}
    [Fact]
    public void {{allowsNullTest}}()
    {
        var value = Sample();
        value.{{ident}} = null;
        Assert.Null(value.{{ident}});
    }
{{/nullable}}
{{/fields}}
{{/isShaped}}
{{#isUnion}}
{{#members}}
    [Fact]
    public void {{acceptsMemberTest}}()
    {
        var value = new {{memberClass}}();
        Assert.NotNull(value);
    }
{{/members}}
{{/isUnion}}
}
